<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='images.jpg') }}" />

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>

  <h3 id="sub-nav-header">Select genre</h3>
  <div class="slider" id="slider">
    	{% for key in genre_urls %}
          <a class="btn-nav" href="{{ genre_urls[key] }}">{{ key }}</a>
        {% endfor %}

  </div>

</nav>
